@{
    ViewBag.Title = "Home";
    // Admin Audit
    Layout = "_LayoutNoLog";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="IndexLog" class="btn btn-primary" role="button">Login</a>
</div>
