@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Asset_Management.ViewModel.ApprovalReq

@{
    ViewBag.Title = "Rejection";
    Layout = "_Layout";
}

<h2>Form Rejection</h2>
<form asp-controller="RequestAsset" asp-action="SaveRejection" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Reason">Reason</label>
        <input asp-for="Reason" class="form-control" />
        <span asp-validation-for="Reason" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="RequestAssetId" />
    <input type="hidden" asp-for="Status" />
    <input type="hidden" asp-for="UpdatedDate" />

    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
        <a asp-action="Index" class="btn btn-sm btn-success">Back</a>
    </div>
    
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}