@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Asset_Management.ViewModel.AssetModel

@{
    ViewBag.Title = "Asset - Edit Data";
    Layout = "_Layout";
}

<h2>Edit Asset</h2>
<form asp-controller="Asset" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="AssetName">Asset Name</label>
        <input asp-for="AssetName" class="form-control" />
        <span asp-validation-for="AssetName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SerialNumber">Serial Number</label>
        <input asp-for="SerialNumber" class="form-control" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PurchaseYear">Purchase Year</label>
        <input asp-for="PurchaseYear" class="form-control" />
        <span asp-validation-for="PurchaseYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Specification">Specification</label>
        <textarea asp-for="Specification" class="form-control"></textarea>
        <span asp-validation-for="Specification" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="Used" class="form-check-input" type="checkbox" value="true">
        <label asp-for="Used" class="form-check-label">Used</label>
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-sm btn-success">Back</a>
    </div>
    
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}